<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- optionally if you need to use a theme, then include the theme CSS file as mentioned below -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
        <link rel="icon" type="image/png" href="{{ asset('build/images/wild-circus.png') }}" />
        <title>{% block title %}Wild Circus{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}{% include 'includes/_navbar.html.twig ' %}{% endblock %}
        {% block banner %} {% include 'includes/_mobilebanner.html.twig' %}{% endblock %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="mb-0 alert alert-{{ label }} text-center">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
        {% block footer %}{% include 'includes/_footer.html.twig' %}{% endblock %}
        {% block navbarmobile %}{% include 'includes/_navbarmobile.html.twig' %}{% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('intersection') }}
            {{ encore_entry_script_tags('app') }}
            <!-- optionally if you need to use a theme, then include the theme JS file as mentioned below -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

            <!-- optionally if you need translation for your language then include locale file as mentioned below -->
        {% endblock %}
    </body>
</html>
